deepspeech~=0.9.3
pyaudio~=0.2.11
webrtcvad~=2.0.10
halo~=0.0.18
numpy>=1.15.1
scipy>=1.1.0
Adafruit-Blinka==6.17.0
adafruit-circuitpython-busdevice==5.1.1
adafruit-circuitpython-motor==3.3.4
adafruit-circuitpython-pca9685==3.3.9
adafruit-circuitpython-register==1.9.7
adafruit-circuitpython-servokit==1.3.6
Adafruit-PlatformDetect==3.19.1
Adafruit-PureIO==1.1.9
pvporcupine==2.0.4
pvporcupinedemo==2.0.4
pvrecorder==1.0.2